<% provide(:title, "Archive") %>
<h1>Completed Runs</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Distance</th>
      <th>Pace</th>
      <th>Date</th>
      <th>Time</th>
      <th>Meetup Area</th>
      <th>Signups</th>

      <th colspan="8"></th>
    </tr>
  </thead>

<% if logged_in? %>
 
    <% @event_order.each do |event| %>

    	<% if event.date < Date.today.to_s %>
	      <% date = event.date %>
	      <% d = date.split('-') %>
	      <% ruby_date = Time.now(d[0],d[1],d[2]) %>
	      <% day_date = ruby_date.strftime("%A %B %d, %Y") %>

	    <tr>
	    <td><%= event.title %></td>
	    <td><%= event.distance %></td>
	    <td><%= event.pace %></td>
	        <td><%= day_date %></td>
	        <td><%= event.time %></td>
	        <td><%= event.location %> </a></td>

	        <td><%= event.signups.count + 1 %></td>

	        <td><%= link_to 'View Run', event, class: "btn btn-sm btn-success" %></td>

	        <% else %>

	        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
 
    <% @event_order.each do |event| %>

    <% if event.date < Date.today.to_s %>


      <% date = event.date %>
      <% d = date.split('-') %>
      <% ruby_date = Time.now(d[0],d[1],d[2]) %>
      <% day_date = ruby_date.strftime("%A %B %d, %Y") %>

    <tr>
    <td><%= event.title %></td>
    <td><%= event.distance %></td>
    <td><%= event.pace %></td>
        <td><%= day_date %></td>
        <td><%= event.time %></td>
        <td><%= event.location %> </a></td>
      
        <td><%= event.signups.count + 1 %></td>

        <td><%= link_to 'View Run', signup_path, class: "btn btn-sm btn-success" %></td>

	        <% else %>

	        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

