<div class="center jumbotron">
  <h1>Welcome toGet!</h1>

  <h2>
    If you're looking to run, you've come to the right place!
    Sign up and join in on any of our group runs....it's all about the banter!!
  </h2>

  <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<h1>Upcoming Runs...(don't miss out!)</h1>

<table>
  <thead>
    <tr>
      <th>Organiser</th>
      <th>Title</th>
      <th>Distance</th>
      <th>Pace</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Signups</th>

      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_order.each do |event| %>
      
      <% @event_organisers.each do |name| %>
			<% u = User.find(name) %>
			<tr>
		<td><%=	u.name %></td>
			<% end %>
		<td><%= event.title %></td>
		<td><%= event.distance %></td>
		<td><%= event.pace %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td> <a href=<%= "#{event.location}" %> > <%= event.location %> </a></td>
			


        <td><%= event.signups.count %></td>

        <td><%= link_to 'View Run', event %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

