




<% if logged_in? %>

<h1>Upcoming Group Runs</h1>

<table>
  <thead>
    <tr>
      <th>Organiser</th>
      <th>Title</th>
      <th>Distance</th>
      <th>Pace</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Signups</th>

      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_order.each do |event| %>
      
      <% @event_organisers.each do |name| %>
      <% u = User.find(name) %>
      <tr>
    <td><%= u.name %></td>
      <% end %>
    <td><%= event.title %></td>
    <td><%= event.distance %></td>
    <td><%= event.pace %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td> <a href=<%= "#{event.location}" %> > <%= event.location %> </a></td>
      


        <td><%= event.signups.count + 1 %></td>

        <td><%= link_to 'View Run', event, class: "btn btn-sm btn-success" %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>



  <div class="center jumbotron">

    <h2>
      <strong>
      How it works:</strong> <br><br>
</h2>
   
<p>


1. Check out the list of upcoming group runs below. <br><br>
2. Sign up by clicking on 'View Run' and following the steps.<br><br>
3. Turn up and enjoy the run!<br><br>

</p>



  </div>








<% else%>
<div class="center jumbotron">
  <h1>Welcome to Get Running (....today!)</h1>

  <h2>
 Sign up below to discover/join our group runs in the Dublin Docklands area. <br>
 It's free, it's local, and it's good fun. We hope to see you there!

  </h2>

  <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-success" %>
<br>
OR
<br>
  <%= link_to "Log In", login_path, class: "btn btn-lg btn-success" %>
</div>

<% end %>

















