






<h1>Upcoming Group Runs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Distance</th>
      <th>Pace</th>
      <th>Date</th>
      <th>Time</th>
      <th>Meetup Area</th>
      <th>Signups</th>

      <th colspan="8"></th>
    </tr>
  </thead>

<% if logged_in? %>
 
    <% @event_order.each do |event| %>

      <% date = event.date %>
      <% d = date.split('-') %>
      <% ruby_date = Time.new(d[0],d[1],d[2]) %>
      <% day_date = ruby_date.strftime("%A, %d/%m/%Y") %>

    <tr>
    <td><%= event.title %></td>
    <td><%= event.distance %></td>
    <td><%= event.pace %></td>
        <td><%= day_date %></td>
        <td><%= event.time %></td>
        <td><%= event.location %> </a></td>
      


        <td><%= event.signups.count + 1 %></td>

        <td><%= link_to 'View Run', event, class: "btn btn-sm btn-success" %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
 
    <% @event_order.each do |event| %>

      <% date = event.date %>
      <% d = @date.split('-') %>
      <% ruby_date = Time.new(@d[0],@d[1],@d[2]) %>
      <% day_date = @ruby_date.strftime("%A, %d/%m/%Y") %>

    <tr>
    <td><%= event.title %></td>
    <td><%= event.distance %></td>
    <td><%= event.pace %></td>
        <td><%= day_date %></td>
        <td><%= event.time %></td>
        <td><%= event.location %> </a></td>
      
        <td><%= event.signups.count + 1 %></td>

        <td><%= link_to 'View Run', signup_path, class: "btn btn-sm btn-success" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<br>



  <div class="center jumbotron">

    <h2>
      <strong>
      How it works:</strong> <br><br>
</h2>
   
<p>


1. See above for the list of upcoming group runs. <br><br>
2. Sign up by clicking on 'View Run' and following the steps.<br><br>
3. Turn up and enjoy the run!<br><br>

Note: if you've signed up and then can't make the run for any reason, <br> try to remember to 'Undo' your signup. You can to this via your 'Profile'.

</p>



  </div>



















