<% if logged_in? %>



<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
       <!-- <%= gravatar_for @user %> -->
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<br>
<br>
<strong> Runs you've signed up for: </strong> <br>

<% if @user_signups.empty? %>
(none)

<% else %>
<% @user_signups.each do |loop| %>
	<% e = Event.find(loop) %>
	<%= e.location %>
	<%= e.date %>
	<%= e.time %>
		<% if current_user %>
		<strong><%= link_to 'Undo Signup', event_signup_url(e.id) , class: "btn btn-sm btn-success", method: :delete, data: { confirm: 'Awww no, really??' } %> </strong>
		<br>

		<% else %>
		<p>
		<% end %>
	<% end %>
<% end %>

<br>
<br>
<%= link_to "Account Settings", edit_user_path(current_user), class: "btn btn-lg btn-primary" %></li>


<% else %>


<p> Please login!! </p>


<% end %>