<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :distance_in_miles %>
    <%= form.text_field :distance, id: :event_distance %>
  </div>

   <div class="field">
    <%= form.label :Pace_per_mile_approx %>
    <%= form.text_field :pace, id: :event_pace %>
  </div>

  <div class="field">
    <%= form.label :date_123 %>
    <%= form.date_field :date, id: :event_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time, id: :event_time %>
  </div>

  <div class="field">
    <%= form.label :meetup_location %>
    <%= form.text_field :location, id: :event_location %>
  </div>

  <div class="field">
    <%= form.label :google_maps %>
    <%= form.text_field :google_maps, id: :event_google_maps %>
  </div>

  <div class="field">
    <%= form.label :Other_info %>
    <%= form.text_field :other_info, id: :event_other_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
