<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Signups</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_order.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td> <a href= <%= "#{event.location}" %> > <%= event.location %> </a> </td>
        <td><%= event.signups.count %></td>

        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

