<script type="text/javascript"></script>



<% if logged_in? == false %>
		<script>
		    window.location.href="/signup" 
		</script>
<% else %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day_date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Organiser:</strong>
  <%= @organiser.name %>
</p>

<p>
  <strong>Meetup Location:</strong>
  <a href= <%= "#{@event.location}" %> > <%= @event.location %> </a>
</p>

<p>
  <strong>Signed Up:</strong>
  <%= @signups.count + 1 %>
</p>

<p>
  <strong>Other info:</strong>
  <%= @event.other_info %>
</p>


<strong> Already signed up: <br> </strong>
	<%= @organiser.name %> <br>

		<% @names.each do |loop| %>
		<% u = User.find(loop) %>
		<%= u.name %>
		<br>
		<% end %>

		<br><br>


<% if @names.include? current_user.id %>
			<%= link_to "Undo Your Signup", event_signup_url(@event) , class: "btn btn-sm btn-success", method: :delete, data: { confirm: 'Awww no, really??' } %> 
			<% end %>
			<br>

<br>
<br>



<!-- <%= link_to 'Back', events_path %> -->

<div>
<% if @organiser_id == current_user.id %>
<% elsif @names.include? current_user.id %>
<% else %>
<%= link_to 'Join This Run', new_event_signup_url(@event), class: "btn btn-lg btn-primary" %>
<% end %>
</div>
<br>
<br>


<%= render inline: @map_embed %>

<% if current_user.id == @event.user_id %>
	<%= link_to 'Edit', edit_event_path(@event) %> 
<% else %>

<% end %>
<br>


<% end %>


